.summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.summary > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 40%;
}
.summary > div > div {
  font-size: 1.4rem;
}
.summary > div:nth-of-type(1) > div {
  color: rgb(60, 204, 60);
}
.summary > div:nth-of-type(2) > div {
  color: rgb(228, 63, 63);
}
.summary > div:nth-of-type(1)::after {
  content: "";
  border: 1px solid rgb(226, 226, 226);
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .summary {
    height: 7rem;
  }
}
@media (max-width: 400px) {
  .summary {
    flex-direction: column;
  }
  .summary > div {
    flex-direction: row;
    width: 100%;
    margin-left: 1rem;
  }
  .summary > div > h2 {
    font-size: 1.25rem;
  }
  .summary > div > div {
    font-size: 1rem;
    font-weight: bold;
  }
  .summary > div:nth-of-type(1)::after {
    width: 80%;
    height: 0;
  }
}
